body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    text-align: center;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background: black;
    margin: 10px;
    color: white;
}

.Card {
    width: 20%;
}

.Card, img {
    width: 200px;
    height: 200px;
    margin: 5%;
}